* {
    box-sizing: border-box;
}

.main-title{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
    margin: 40px 0;  
}

.story-title{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
}

.story-text{
    line-height: 1.5;
}

.row{
    display: flex;
    align-items: stretch;
}

.article{
    border: 1px solid gray;
    padding: 5px;
}

.quarter{
    width: 25%;
}

.story-image{
    width: 100%;
}

.half{
    width: 50%;
}

.three-quarter{
    width: 75%;
}

.nav-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-item{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 25px;
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;

}

.nav-item a{
    text-decoration: none;
    color: rgb(53, 53, 53);

    
}

.nav-item a:hover{
    text-decoration: underline;
}

.nav-item:nth-child(1){
    background-color: lightgoldenrodyellow;
}
.nav-item:nth-child(2){
    background-color: lightskyblue;
}
.nav-item:nth-child(3){
    background-color: greenyellow;
}
.nav-item:nth-child(4){
    background-color: lightslategray;
}
.nav-item:nth-child(5){
    background-color: lightcoral;
}